
.user-card-container {
  
    display: inline-block; /* Размещаем карточки в одной строке */
   
    width: 25%; /*width: 25%; /* Задаем ширину для каждой карточки, чтобы они вмещались в одну строку */
    
    margin-bottom: 10px;
}

 